# IntelliJ
.idea/

# Java / Maven
testverse-backend/target/

# React / Node
testverse-frontend/node_modules/
testverse-frontend/dist/

# Environment files
.env

# OS files
Thumbs.db
.DS_Storetestverse_local_backup.sql
testverse_user_id_migration.sql
testverse_local_backup.sql
